.DS_Store
**/.DS_Store
__pycache__/
**/__pycache__/
*.pyc
GAMMultiGUI/dist/*.pkg
GAMMultiGUI/dist/*.pkg.sha256
GAMMultiGUI/dist/*.app
GAMMultiGUI/GAMMultiGUI 1 2026-02-27 15-55-11/
GAMMultiGUI-Native/.build/
GAMMultiGUI-Native/.build-local/
GAMMultiGUI-Native/.vscode/
GAMMultiGUI-Native/dist/*.app
